<div class="present">
  <h2><%= present.item.description %> to <%= present.place %></h2>
  <ul class="details">
    <li class="eta">
      <h3>Estimated delivery</h3>
      <p>Dec. 24<span>†</span></p>
      <p class="footnote">† This is usually a busy time at Claus. Please allow until the following morning for delivery.</p>
    </li>
    <li class="cost">
      <h3>Estimated cost</h3>
      <p>No charge<span>‡</span></p>
      <p class="footnote">‡ Although there is no delivery charge, our driver appreciates gratuities&mdash;especially cookies.</p>
    </li>
  </ul>
  <div id="carbon">
    <div id="comparison">
      <h2>Shipping footprint comparison</h2>
      <ul class="carriers">
        <li class="claus">
          <h4>Claus Reindeer Express</h4>
          <strong>0 lbs. CO2</strong>
        </li>
        <li class="fedex">
          <h4>FedEx Standard Overnight</h4>
          <strong><%= link_to "#{present.shipping_emissions} lbs. CO2", '#FIXME' %></strong>
        </li>
      </ul>
    </div>
    <div id="footprint">
      <h2>Gift emissions analysis</h2>
      <p>CO2 <%= present.item.emission_activity %><strong><%=link_to number_with_delimiter(@present.item.emission_estimate.to_f.kilograms.to(:pounds).round(1)), @present.item.emission_estimate.methodology %> lbs. CO2</strong></p>
    </div>
  </div>
</div>
