<div id="letter">
  <div id="wrapper1"></div>
  <div id="wrapper2"></div>
  <p>Happy holidays!</p>
  <p>As the old saying goes, make new friends and keep the old.</p>
  <p>In that spirit, we’re celebrating our 150,000+ cardholders who offset over a quarter billion pounds of CO2. And we're embracing our new carbon calculation services in the cloud&mdash;we've already performed 1.5 million calculations!</p>  
  <p>Rather than an off-the-shelf card this year, we're sharing a little holiday website we made for an old friend of ours. Take it for a spin and let us know what you think.</p>
  <p class="signature">and the Brighter Planet team</p>
  <p class="continue"><%= link_to_function 'Get started', '$("letter").hide(); $("new_present").show(); initializeNicenessSlider()' %></p>
</div>

<%= form_for @present, :remote => true, :html => { :style => 'display: none;' } do |f| %>
  <dl>
    <dt><%= f.label :destination, 'Your delivery address (we don\'t store this)' %></dt>
    <dd><%= f.text_area :destination %></dd>
    <dt class="niceness"><%= f.label :niceness, 'Naughty or nice?' %></dt>
    <dd>
      <%= f.hidden_field :niceness %>
      <p class="naughty">Naughty</p>
      <div id="present_niceness_slider" class="slider">
        <div class="handle"></div>
      </div>
      <p class="nice">Nice</p>
      <ul class="presents">
        <li>●</li>
        <li>▥</li>
        <li>✈</li>
        <li>♞</li>
      </ul>
    </dd>
  </dl>
  <p class="submit"><%= submit_tag 'Get rate quote and delivery time' %> for <span id="present_description">my present</span></p>
<% end %>
<p class="new"><strong>New</strong> CFC is <i>going green!</i></p>

<p id="loading" style="display: none;">Checking twice, please wait . . .</p>

<%= content_for :bottom do %>
<script type="text/javascript">
var nicenessSlider;

function initializeNicenessSlider() {
  nicenessSlider = new Control.Slider($('present_niceness_slider').down('.handle'), $('present_niceness_slider'), {
      range: $R(0, 1),
      sliderValue: 0,
      onSlide: describePresent,
      onChange: describePresent
    });
  describePresent(0);
}

document.observe('dom:loaded', function() {
    $('new_present').observe('ajax:before', function() {
        $('new_present').hide();
        $('loading').show();
    });
});

function describePresent(niceness) {
  $('present_niceness').setValue(niceness);
  $('present_description').update('a <strong>' + presentDescription(niceness) + '</strong>');
}

function presentDescription(niceness) {
  if (niceness < 0.25) {
    return round(1 + niceness * 10, 1) + ' kg lump of coal';
  }
  else if (niceness < 0.5) {
    return '$' + round(niceness * 1000, 0) + ' flat-screen television'; 
  }
  else if (niceness < 0.75) {
    return round(Math.pow(niceness / 0.75 * 30, 2 ), 0) + ' mi. airplane ticket'
  }
  else {
    return round(niceness * 500, 0) + ' lb. pony'
  }
}

function round(num, decimals) {
  return Math.round(num * Math.pow(10, decimals)) / Math.pow(10, decimals); 
}

</script>
<% end %>
