<!DOCTYPE html>
<html>
<head>
  <title>Claus Freight Co.</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'slider' %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
<h1>Claus Freight Company</h1>
<%= yield %>
</div>
<%= yield :bottom %>
</body>
</html>
